.collection-container {
    padding: 0px 60px;
}

.collection-topic-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.collection-title {
    margin: 0px;
}

.collection-link {
    display: flex;
    align-items: flex-end;
}

.cards-container {
    display: flex;
    justify-content: space-between;
}